*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    
    a{
        text-decoration: none;
        color: var(--lightColor);
    }
    
}
:root{
    --primarycolor : #535ebf; 
    --darkColor :rgb(239, 213, 65);
    --lightColor : gold;

}

nav{
    background-color:var(--primarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: auto;
}
nav ul{
    width: 25%;
    font-size: 1rem;
 /* background-color: rebeccapurple; */
    display: flex;
    font-size: 4rem;
    justify-content: space-evenly;
    /* justify-items:flex-end; */
}
nav ul li{
    color: var(--lightColor)
}

nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
nav h1{
    font-size: 2.5rem;
    color:var(--darkColor) ;
    padding-left: 1rem;
    
}
nav h1 span{
    font-size: 2.5rem;
    color: var(--darkColor);
    font-weight: 800;
}
.hero{
    height: 92vh;
    /* background-color: rebeccapurple; */
    display: flex;
    background-color: var(--primarycolor);
}
.hero .left{
    
    height: 100%;
    /* background-color: red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 3rem;



    
}

.hero .right{
    /* background-color: blue; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}
.left p{
    color:var(--lightColor)
}
.left h1{
    font-size: 2rem;
}


.socialMedia{
    /* border: 1px solid red; */
width: 10rem;
display: flex;
justify-content: space-evenly;

}

.socialMedia img{
 height: 2rem;
 /* width: 2rem; */
 border-radius: 50%;
 border: 1px solid red;
}
.socialMediaNames{
    /* border: solid rebeccapurple; */
    width: 10rem;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -1rem;
    
}
.socialMediaNames p{
    font-size: 0.8rem;
    display: flex;
}

.hero .right img{
    height: 40%;
    border-radius: 50% 20% / 10% 40%;
} 

.services{
    padding-left: 1rem;
    height: 100vh;
   /* background-color: green;  */
   display: grid;
   grid-template-columns: repeat(3,1fr);
 column-gap: 1rem;

}
.services div{
    height: 17rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* line-height: 2rem; */
    background-color:rgb(200, 4, 4);

}
.services div img{
    height: 8rem ;
    /* width: 6rem; */
    /* align-items: center; */
}